**/node_modules/
**/dist/
**/bin/
**/obj/
**/Logs/
**/.idea/
**/.vs/
**/published/
**/build/
*.user
*.DotSettings.user
.git/
.github/
deployment/lab3/config/config.runtime.json
deployment/lab4/config/config.runtime.json
deployment/lab5/.env.runtime
deployment/lab5/config/config.runtime.json
