src/MapClient/node_modules
src/MapClient/dist
src/CommunicationControl/.idea
src/CommunicationControl/.vs
bin
obj
Logs
.vscode
build
deployment/lab3/config/config.runtime.json
deployment/lab4/config/config.runtime.json
deployment/lab5/.env.runtime
deployment/lab5/config/config.runtime.json
src/CommunicationControl/DevOpsProject.sln.DotSettings.user
src/CommunicationControl/DevOpsProject.sln.DotSettings.user
src/CommunicationControl/DevOpsProject.sln.DotSettings.user
